@import url(https://fonts.googleapis.com/css?family=Oswald);

* {
    border: 1px solid red;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

#title {
    background: yellow;
    padding: 50px 200px;
    margin: 30px 400px;

}

#subtitle {
    background: black;
    color: white;
    padding: 10px 200px;
    margin: 30px 400px;


}

.topic {
    background: lightgray;
    display: inline-block;
    margin: 60px 130px;
    
    font-size: 20px;
    padding:10px 15px;


}
